#div1{
    width: 95%;
    max-width: 1200px;
    border: 0.8rem solid black;
}
#sub1{
    background: #37474f;
    border: 0.2rem solid black;
    display: flex;
    flex-direction: row;
}
#sub2{
    border: 0.2rem solid black;
    background: orange;
}
p{
    font-size: 1.4vw;
    padding: 4px;
}
#div2{
    width: 95%;
    max-width: 1200px;
    margin-top: 1rem;
    border: 0.8rem solid black;
    display: flex;
    flex-direction: row;
}
#divsub1{
    width: 70%;
    border: 0.2rem solid black;
    background: green;
}
#divsub2{
    width:29%;
    border: 0.2rem solid black;
    background: yellow;
}
#tercersub{
    display: flex;
    flex-direction: row;
}
#div3{
    width: 95%;
    max-width: 1200px;
    height: 1rem;
    margin-top: 1rem;
    border: 00.8rem solid black;
    background: gold;
}